@model IEnumerable<Uccl.OOD.Mocking.Data.DTO.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Email)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new {  customerId = customer.Id  }) 
                </td>
            </tr>
        }
    </tbody>
</table>
